@font-face {
	font-family: "Chocolate-Cookies";
	src: url("fonts/chocolatecookies.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Gotham-Rounded-Book";
	src: url("fonts/Gotham Rounded Book.otf");
}
@font-face {
	font-family: "Gotham-Rounded-Medium";
	src: url("fonts/Gotham Rounded Medium.otf");
}

:root {
	/* Colors: */
	--purple: #966fbf;
	--cyan: #76d9d2;
	--yellow: #fdffd5;
	--pink: #f397b0;
	--dark: #2d2d2d;
	--white: #ffffff;

	/* Font/text values */
	--montserrat: Montserrat;
	--chocolatecookies: "Chocolate-Cookies";
	--gothammedium: "Gotham-Rounded-Medium";
	--gothambook: "Gotham-Rounded-Book";
	--unnamed-font-style-normal: normal;
	--unnamed-font-weight-300: 300px;
	--unnamed-font-weight-900: 900px;
	--unnamed-font-weight-bold: bold;
	--unnamed-font-weight-normal: normal;
	--unnamed-font-size-12: 12px;
	--unnamed-font-size-18: 18px;
	--unnamed-font-size-20: 20px;
	--unnamed-font-size-24: 24px;
	--unnamed-font-size-32: 32px;
	--unnamed-font-size-48: 48px;
	--unnamed-character-spacing-0: 0px;
	--unnamed-line-spacing-15: 15px;
	--unnamed-line-spacing-18: 18px;
	--unnamed-line-spacing-20: 20px;
	--unnamed-line-spacing-24: 24px;
	--unnamed-line-spacing-50: 50px;
	--unnamed-line-spacing-94: 94px;
	--unnamed-decoration-underline: underline;
}

/* Character Styles */
.my_h2 {
	font-family: var(--montserrat);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-bold);
	font-size: var(--unnamed-font-size-32);
	line-height: var(--unnamed-line-spacing-94);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--pink);
	text-transform: uppercase;
}
.my_h1 {
	font-family: var(--montserrat);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-900);
	font-size: var(--unnamed-font-size-48);
	line-height: var(--unnamed-line-spacing-50);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--pink);
}
.unnamed-character-style-3 {
	font-family: var(--montserrat);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-bold);
	font-size: var(--unnamed-font-size-12);
	line-height: var(--unnamed-line-spacing-15);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--cyan);
}
.unnamed-character-style-4 {
	font-family: var(--montserrat);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-normal);
	font-size: var(--unnamed-font-size-12);
	line-height: var(--unnamed-line-spacing-15);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--cyan);
}
.unnamed-character-style-5 {
	font-family: var(--montserrat);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-300);
	font-size: var(--unnamed-font-size-12);
	line-height: var(--unnamed-line-spacing-20);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--dark);
}
.my_h3 {
	font-family: var(--montserrat);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-900);
	font-size: var(--unnamed-font-size-24);
	line-height: var(--unnamed-line-spacing-50);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--cyan);
	font: normal normal 900 24px/50px Montserrat;
}
.my_p_r {
	font-family: var(--montserrat);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-normal);
	font-size: var(--unnamed-font-size-18);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--dark);
}
.unnamed-character-style-8 {
	font-family: var(--montserrat);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-300);
	font-size: var(--unnamed-font-size-12);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--dark);
}
.my_p_b {
	font-family: var(--montserrat);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-bold);
	font-size: var(--unnamed-font-size-18);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--dark);
}
.unnamed-character-style-10 {
	font-family: var(--montserrat);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-normal);
	font-size: var(--unnamed-font-size-12);
	line-height: var(--unnamed-line-spacing-50);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--cyan);
	text-decoration: var(--unnamed-decoration-underline);
}
.unnamed-character-style-11 {
	font-family: var(--montserrat);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-normal);
	font-size: var(--unnamed-font-size-12);
	line-height: var(--unnamed-line-spacing-50);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--dark);
}
.unnamed-character-style-12 {
	font-family: var(--montserrat);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-normal);
	font-size: var(--unnamed-font-size-12);
	line-height: var(--unnamed-line-spacing-18);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--white);
}
.my_h4 {
	font-family: var(--montserrat);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-900);
	font-size: var(--unnamed-font-size-20);
	line-height: var(--unnamed-line-spacing-24);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--white);
}
.my_sm {
	font-family: var(--montserrat);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-normal);
	font-size: var(--unnamed-font-size-12);
	line-height: var(--unnamed-line-spacing-24);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--white);
}
.title {
	color: var(--yellow);
	font-family: var(--chocolatecookies);
	font-size: var(--unnamed-font-size-32);
}
.nav_text {
	letter-spacing: var(--unnamed-character-spacing-0);
	text-align: left;
	letter-spacing: 0px;
	color: #ffffff;
	font: normal normal bold 16px/19px Montserrat;
}
.is-yellow {
	color: var(--yellow);
}

/* Background */
.bg-pink {
	background-color: var(--pink) !important;
}
.bg-yellow {
	background-color: var(--yellow) !important;
}
.bg-cyan {
	background-color: var(--cyan) !important;
}
.bg-purple {
	background-color: var(--purple) !important;
}
.bg-white {
	background-color: var(--white) !important;
}
.bg-dark {
	background-color: var(--dark) !important;
}

/* Buttons */
.btn-black {
	background-color: var(--dark);
	color: var(--yellow);
	height: 33px;
	width: 117px;
	border-radius: 8px;
	text-transform: uppercase;
	font-weight: lighter;
	font: normal normal normal 14px/18px Montserrat;
	letter-spacing: 0px;
}
.btn-black:hover {
	background-color: var(--pink);
	color: var(--yellow);
	height: 33px;
	width: 117px;
	border-radius: 8px;
	text-transform: uppercase;
	font-weight: lighter;
	font: normal normal normal 14px/18px Montserrat;
	letter-spacing: 0px;
}
.btn-pink {
	background-color: var(--pink);
	color: var(--yellow);
	height: 33px;
	width: 117px;
	border-radius: 8px;
	text-transform: uppercase;
	font-weight: lighter;
	font: normal normal normal 14px/18px Montserrat;
	letter-spacing: 0px;
}
.btn-pink:hover {
	background-color: var(--dark);
	color: var(--yellow);
	height: 33px;
	width: 117px;
	border-radius: 8px;
	text-transform: uppercase;
	font-weight: lighter;
	font: normal normal normal 14px/18px Montserrat;
	letter-spacing: 0px;
}
.btn-search {
	background-color: var(--dark);
	color: var(--yellow);
	height: 59px;
	width: 281px;
	text-transform: uppercase;
	font-weight: lighter;
	font: normal normal normal 14px/18px Montserrat;
	letter-spacing: 0px;
}
.btn-search:hover {
	background-color: var(--pink);
	color: var(--yellow);
	height: 59px;
	width: 281px;
	text-transform: uppercase;
	font-weight: lighter;
	font: normal normal normal 14px/18px Montserrat;
	letter-spacing: 0px;
}

/* Navigation */
.relative.bg.pink {
	height: 70px;
	background: var(--pink) 0% 0% no-repeat padding-box;
	box-shadow: 0px 2px 2px #00000027;
	opacity: 1;
}
.nav_text > a {
	text-transform: uppercase;
}
.nav_text > a:hover {
	text-transform: uppercase;
	color: var(--purple);
}
/* Carrousel */
.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: transparent url("img/bg.png") 0% 0% no-repeat padding-box;
	border: 1px solid #707070;
	opacity: 1;
	height: 772px;
	max-height: 100%;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-pagination-progressbar {
	background-color: var(--yellow);
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill,
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
	background-color: var(--pink);
}
.swiper-button-next,
.swiper-button-prev {
	color: var(--pink);
}
.swiper-image {
	width: 487px;
	height: 512px;
	border-radius: 30%;
}
.swiper-image > span {
	background: #76d9d2 0% 0% no-repeat padding-box;
	opacity: 1;
	top: 129px;
	left: 455px;
	position: absolute;
}
.triangle-code {
	display: inline-block;
	height: 58px;
	width: 35px;
	border-right: 15px solid #76d9d2;
	border-bottom: 10px solid transparent;
	border-left: 15px solid #76d9d2;
}
.swiper-image > img {
	height: 512px;
	border-radius: 17px 0 0 17px;
	width: fit-content;
}
.swiper-description {
	background: #fdffd5 0% 0% no-repeat padding-box;
	border-radius: 0px 17px 17px 0px;
	opacity: 1;
	width: 637px;
	height: 512px;
	padding: 6em;
}
.swiper-description-title {
	display: flex;
	align-items: center;
}
.swiper-description-title-image {
	color: #f397b0;
	opacity: 1;
	width: 26px;
	height: 24px;
}

.swiper-description-title-h2 {
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-f397b0);
	text-align: left;
	font: normal normal 900 48px/50px Montserrat;
	letter-spacing: 0px;
	color: #f397b0;
	opacity: 1;
}
.swiper-description-title-stars {
	display: flex;
}

/* Search bar */
.container-search {
	display: flex;
	padding: 1em;
	justify-content: center;
}
.input-search {
	height: 59px;
	width: 1096px;
	background: #ebebeb 0% 0% no-repeat padding-box;
	outline: 0 none;
	font-size: 16px;
}
input#search {
	font-size: 28px;
	padding-left: 16px;
}

/* Special products */
.box-shadow {
	box-shadow: 0px 3px 6px #00000029;
}
.container-special-products {
	height: 585px;
}
.card > .card-image > img {
	width: 196px;
	height: 188px;
}
/* Popular */
.container-popular {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.h2-popular {
	text-align: left;
	font: normal normal 900 24px/50px Montserrat;
	letter-spacing: 0px;
	color: #f397b0;
	opacity: 1;
}
.link-popular {
	text-decoration: var(--unnamed-decoration-underline);
	letter-spacing: var(--unnamed-character-spacing-0);
	text-align: left;
	text-decoration: underline;
	font: normal normal normal 12px/50px Montserrat;
	letter-spacing: 0px;
	color: #76d9d2;
	opacity: 1;
}
.sort-popular {
	letter-spacing: var(--unnamed-character-spacing-0);
	text-align: left;
	font: normal normal normal 12px/50px Montserrat;
	letter-spacing: 0px;
	color: #2d2d2d;
	opacity: 1;
}
.select-popular {
	border: 1px solid #2d2d2d;
	height: 29px;
	width: 200px;
	outline: 0 none;
}

/* Product Recent */
.wrapper-recent {
	background: #86ddd7a2 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	margin-top: 5em;
	padding-bottom: 5em;
}
.h2-recent {
	text-align: left;
	font: normal normal 900 24px/50px Montserrat;
	letter-spacing: 0px;
	color: #966fbf;
	opacity: 1;
}
.link-recent {
	text-decoration: var(--unnamed-decoration-underline);
	letter-spacing: var(--unnamed-character-spacing-0);
	text-align: left;
	text-decoration: underline;
	font: normal normal normal 12px/50px Montserrat;
	letter-spacing: 0px;
	color: var(--pink);
	opacity: 1;
}
/* Footer */
.footer-wrapper {
	background: #404040 0% 0% no-repeat padding-box;
	box-shadow: 0px 2px 2px #00000027;
	opacity: 1;
	height: 250px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.footer-adresse-title > img {
	width: 23px;
	height: 22px;
}
.footer-adresse-title > h3 {
	font-family: var(--chocolatecookies);
	font-size: 20px;
	color: var(--white);
}
.footer-adresse > p {
	letter-spacing: var(--unnamed-character-spacing-0);
	text-align: left;
	font: normal normal normal 12px/18px Montserrat;
	letter-spacing: 0px;
	color: #ffffff;
	opacity: 1;
}
.footer-menu-title {
	letter-spacing: var(--unnamed-character-spacing-0);
	text-align: left;
	font: normal normal bold 16px/24px Montserrat;
	letter-spacing: 0px;
	color: #ffffff;
	opacity: 1;
}
.footer-menu-links {
	display: flex;
	letter-spacing: var(--unnamed-character-spacing-0);
	text-align: left;
	font: normal normal normal 12px/24px Montserrat;
	letter-spacing: 0px;
	color: #ffffff;
	opacity: 1;
}
.footer-menu-links-col:nth-child(2) {
	margin-left: 2em;
}
.footer-newsletter-title > h3 {
	letter-spacing: var(--unnamed-character-spacing-0);
	text-align: left;
	font: normal normal 900 20px/24px Montserrat;
	letter-spacing: 0px;
	color: #ffffff;
}
.footer-newsletter-title > p {
	letter-spacing: var(--unnamed-character-spacing-0);
	text-align: left;
	font: normal normal normal 12px/24px Montserrat;
	letter-spacing: 0px;
	color: #ffffff;
}
body
	> footer
	> div.footer-wrapper
	> div.footer-newsletter
	> div
	> div
	> div
	> input[type="text"] {
	width: 203px;
	height: 29px;
	border: 1px solid #ffffff;
	opacity: 1;
	background-color: #404040;
	outline: 0 none;
	color: #ffff;
	padding-left: 1em;
}
.form-group-col > button {
	background: #ffffff 0% 0% no-repeat padding-box;
	opacity: 1;
	height: 29px;
	width: 136px;
	letter-spacing: var(--unnamed-character-spacing-0);
	font: normal normal normal 12px/24px Montserrat;
	letter-spacing: 0px;
	color: #2d2d2d;
	opacity: 1;
}
.form-group-col {
	display: flex;
	align-items: center;
}
.form-group-col:nth-child(1) {
	justify-content: space-between;
}
.form-group-col-rs {
	display: flex;
}
.form-group-col-rs > a > img {
	width: 18px;
	height: 18px;
}

/* Footer Copyright */
.footer-copyright {
	background: #2d2d2d 0% 0% no-repeat padding-box;
	box-shadow: 0px 2px 2px #00000027;
	opacity: 1;
	height: 46px;
	align-items: center;
}
.footer-copyright > .container > p {
	letter-spacing: var(--unnamed-character-spacing-0);
	text-align: center;
	letter-spacing: 0px;
	color: #f397b0;
	opacity: 1;
}
.footer-copyright > .container > p > strong {
	text-align: center;
	font: normal normal medium 14px/50px Gotham Rounded;
	letter-spacing: 0px;
	color: #f397b0;
}
.footer-copyright-links {
	letter-spacing: var(--unnamed-character-spacing-0);
	text-align: center;
	font: normal normal medium 12px/50px Gotham Rounded;
	letter-spacing: 0px;
	color: #f397b0;
	opacity: 1;
}
